<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>代码小工具</title>
</head>
</head>
<link href="/js/bootstrap.min.css" rel="stylesheet">
<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/layer/layer.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jsformat.js"></script>
<script src="/js/htmlformat.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/common.js"></script>
<style>
.form-control {
	font-size: 16px;
}
</style>
<body>
<!-- 	当前ip为：
	<script type="text/javascript" src="http://ip.chinaz.com/getip.aspx"></script>
	<input type="button" value="测试" id="test" />  -->
	<div class="container" id="tools">
	 <br/>
		<div class="row">
			<div class="col-xs-6"><textarea  class="form-control" rows="26" v-model="oldVal"></textarea></div>
			<div class="col-xs-6"><textarea  class="form-control" rows="26" v-model="newVal" id="newVal"></textarea></div>
		</div>
		 <br/>
		<div class="row text-center" >
			<label class="strButton">
			<input type="button" value="大转小"  @click='bigToSmall' class="btn btn-primary" />
			<input type="button" value="小转大"  @click='smallToBig' class="btn btn-primary" />
			<input type="button" value="提取sql"  @click='extractSql' class="btn btn-primary" />
			<input type="button" value="拼接sql"  @click='stringBuilder' class="btn btn-primary" />
			<input type="button" value="getSetMethod" @click='getSetMethod'  class="btn btn-success" /> 
			<input type="button" value="js格式化"  @click='jsFormat' class="btn btn-info" />
			<input type="button" value="html格式化" @click='htmlFormat' class="btn btn-info" />
			<input type="button" value="sql格式化" @click='sqlFormat' class="btn btn-info" />
			</label>
	  		<input type="button" value="clear"  @click='clear' class="btn btn-danger pull-righ" />
		</div>
	</div>
<script type="text/javascript" src="/js/codehelper/codehelper.js"></script>
</body>
</html>